<IfModule mod_rewrite.c>
    RewriteEngine On
    # ป้องกันการแสดง Directory Listing
    Options -Indexes
    # ส่งต่อ Request ทั้งหมดเข้าโฟลเดอร์ public
    RewriteCond %{ENV:REDIRECT_STATUS} ^$
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
